<style>
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.row-section{float:left; width:100%; background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #000000, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #000000, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.row-section h2{float:left; width:100%; color:#cfff90; margin-bottom:30px; font-size: 14px;}
.row-section h2 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px;font-weight:700;}
.row-section h2 a{color:#000000;}
.row-section .row-block{background:#aeff43; padding:20px; margin-bottom:50px;}
.row-section .row-block ul{margin:0; padding:0;}
.row-section .row-block ul li{list-style:none; margin-bottom:20px;}
.row-section .row-block ul li:last-child{margin-bottom:0;}
.row-section .row-block ul li:hover{cursor:grabbing;}
.row-section .row-block .media{border:1px solid #d5dbdd; padding:5px 20px; border-radius: 5px; box-shadow:0px 2px 1px rgba(0,0,0,0.04); background:#cfff90;}
.row-section .media .media-left img{width:75px;}
.row-section .media .media-body p{padding: 0 15px; font-size:14px;}
.row-section .media .media-body h4 {color: #000000; font-size: 18px; font-weight: 600; margin-bottom: 0; padding-left: 14px; margin-top:12px;}
.btn-default{background:#000000; color:#cfff90; border-radius:30px; border:none; font-size:16px;}

</style>

<section class="row-section">
    <div class="container" data-ng-controller="forumcontroller">
	    <div class="row">
		    <h2 class="text-center"><span>FORUM VIEW</span>
	    </div>
	    <div class="col-md-10 offset-md-1 row-block" data-ng-repeat="fm in forums">
	        <ul id="sortable">
	            <li><div class="media">
	            <div class="media-left align-self-center">
	                <img class="rounded-circle" src="http://localhost:9980/FrondEnd/images/user.png">
	            </div>
	            <div class="media-body">
	                <h4>{{fm.formname}}</h4>
	                <p>{{fm.formcontent}}</p>
	            </div>
	            <div class="media-right align-self-center" ">
	                <a href="#" class="btn btn-default" data-ng-click="sendforumrequests(fm.forumid)">JOIN</a>
	               </div>
	              
	        </div></li>
	           
	        
	            
	        
	        </ul>
	    </div>
</div>
</section>
  <script>
  $( function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  } );
  </script>
<script	  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>