<style>
.photo-profile{
    border:1px solid #DDD;    
}
</style>

 <div class="row">
      
      <div class="col s8">
    
    <div class="col s12" style="margin-left: 5%;margin-right: 5%" >
      <ul class="tabs">
        <li class="tab col s4"><a href="#test1">BLOGS</a></li>
        <li class="tab col s4"><a href="#test2">FORUMS</a></li>
        <li class="tab col s4 "><a href="#test3">JOBS</a></li>
        
      </ul>
    </div>
    <div id="test1" class="col s12" style="margin-left: 5%;margin-right: 5%">
  

<div data-ng-controller="blogcontroller">
<br>


   <div  data-ng-hide="currentuser.role=='ROLE_ADMIN'"><center><a href="#!/newblog"><img data-ng-src="http://localhost:9980/FrondEnd/images/pencil.png" style="width:50px;height:50px"><h2>Writeblog</h2></a></center></div>
  
 <input type="text" data-ng-model="search" placeholder="search blogs..........."> 
<div data-ng-repeat="blogg in blogs | filter:{blogname:search}">
<div class="card card-1" style="margin-top:2vh; padding: 30px;margin-right: 5%" >


           
                    
                            <div class="media">
                              <div class="media-left">
                                <a href="#">
                                  <img class="media-object photo-profile" data-ng-src="http://localhost:9980/FrondEnd/images/{{blogg.username}}.jpg" onerror="this.src='http://localhost:9980/FrondEnd/images/user.png'" width="40" height="40" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <a href="" data-ng-controller="friendcontroller" data-ng-click="friendpreview(blogg.userid)" class="anchor-username"><h4 class="media-heading">{{blogg.username}}</h4></a> 
                              
                              </div>
                            </div>
             
            
                   <h3><b>{{blogg.blogname}}</b></h3>
                  
                 
              
                 <div class="media">
                  <div class="media-body">
                  <h4>{{ blogg.blogcontent | limitTo: 80 }}</h4>
                  
                  </div>
                   <div class="media-right">
            
                 
                   <div class="btn-group"> <a  data-ng-click="maximum(blogg.blogid)" class="btn btn-primary">{{blogg.blogcontent.length > 60 ? 'READ FULL' : ''}}</a> </div>
           
           
</div>
  
</div>
<div class="row">

<div class="col-s3">{{blogg.likes}}   Likes</div>

<div class="col-s3">{{blogg.views}}  Views </div>
</div>
</div>
</div>

</div>



  </div>
  
  
  
  <div data-ng-controller="jobcontroller">
                     <div  data-ng-show="currentuser.role=='ROLE_ADMIN'"><center><a href="#!/newjob"><img data-ng-src="http://localhost:9980/FrondEnd/images/job.png" style="width:50px;height:50px"><h2>Add job</h2></a></center></div>
    <input type="text" data-ng-model="search" placeholder="search jobs......"> 
    	<div data-ng-repeat="jobb in jobsdata  | filter:{jobprofile:search}">
    	<div class="card card-1" style="margin-top:5vh;padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px">
    	
    	 <h3><b>{{jobb.company}}</b></h3>
    	 <h3>Post for {{jobb.jobprofile}}</h3>
    	
    	                  <div class="media">
               
                   <div class="media-left">
                   <div class="btn-group"> <a  data-ng-click="getjob(jobb.jobid)" class="btn btn-primary">VIEW </a> </div>
           
</div>
  
</div>
   
	</div>
	</div>
    </div>
    </div>
    
    <div id="test6" class="col s12">
    
     <div class="col s4">
      

<div class="panel panel-default"  style="height:40vh">
  <div class="panel-body">
  <div data-ng-controller="registercontroller">
  <img data-ng-src="http://localhost:9980/FrondEnd/images/{{currentuser.image}}" onerror="this.src='http://localhost:9980/FrondEnd/images/user.png'" style="width:100px;height:100px">
 <h2>{{currentuser.first_tname}}   {{currentuser.last_name}}</h2>
                            <h2>{{currentuser.email_id}}</h2>
  </div>
  </div>
</div>

<img src="http://localhost:9980/FrondEnd/images/chat.png" style="width:50px;height:50px">
<a href="#!/chat"><button>ONLINE CHAT</button></a>

<div class="panel panel-default"  style="height:30vh">
  <div class="panel-body">ONLINE FRIENDS<br>
  <div data-ng-controller="friendcontroller">

   <ul>
   <li data-ng-repeat="online in onlineusers">{{online.first_name}}  {{online.last_name}}</li>
   
   
   </ul>
   
   
   
   
   </div>       
          
           
          
  
  
  
  </div>
</div>



      
    </div>
</div>


</div>



    
  


  


<script>
$(document).ready(function(){
    $('ul.tabs').tabs();
  });
       
$(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
              
</script>