<div class="container">
    <div class="row">
     <h1>EDIT YOUR BLOG</h1>
        <div class="col m12">
        <div class="card card-1" style="margin-top:4vh">
            
            <div class="row">
            <div data-ng-controller="blogcontroller">
                <form class="col s12" data-ng-submit="editBlog()" >
                   
                  
                   
                           <div class="input-field col s6">  
                           <div class="left-align">       
                <input  type="text" id="blogname"  data-ng-model="Blog.blogname" data-ng-value="eblog.blogname"  size="100" required >
                            <label for="blogname">Blog Name</label>
                             </div>
                         </div>  
                         
                         
                        
                   
                               <div class="input-field col s12">
                  
                  
                   <textarea id="blogcontent" class="materialize-textarea" data-ng-model="Blog.blogcontent" data-ng-value="eblog.blogcontent" cols="100" required></textarea>
          <label for="blogcontent">Blog Content</label>
          
          
            </div>
                   
                   
                    
                    
                       <div class="input-field col s6">
                         <center>   <p class="right-align">
                                <button class="btn btn-large waves-effect waves-light" type="submit" >SUBMIT</button>
                            </p></center>
                        </div>
                   
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>